
body{
	background-color: $body-background;
}
button, input[type="button"], input[type="submit"]{
	background-image:$default-button-background;
	color:$default-button-color;
	padding:.5rem;
	border-radius:.25rem;
	max-width:100%;
	overflow:hidden;
	width:100%;
}