/* GRID */
$container-margin-top-bottom: 1rem;
$container-margin-left-right: .5rem;

$col-margin-left-right: .5rem;
$col-margin-top-bottom: .25rem;

$lg-col-margin-left-right: .5rem;
$lg-col-margin-top-bottom: .25rem;

$md-col-margin-left-right: .5rem;
$md-col-margin-top-bottom: .25rem;

$sm-col-margin-left-right: .5rem;
$sm-col-margin-top-bottom: .25rem;

/* ^^ grid ^^ */

/* Defaults */
$body-background:#dedede;
$container-background:#FFF;
$default-button-background: linear-gradient(to bottom, #88bec8 0%, #3592b9 100%);
$default-button-color:rgba(255,255,255,.87);

$top-menu-height:3.5rem;
$content-top-padding:4.5rem;
$top-menu-font-size:1.5rem;

/* ^^ Defaults ^^ */
